<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/catch.css">
    <link rel="stylesheet" href="/css/pokebal.css">
    <title>Catch</title>

    <%- include ("partials/header.ejs") %>
    
    <main>
        <div class="Flex">
            <div id="myPokemon" class="myPokemon">
               <div class="btnContainer">
                    <p>kies:</p> 
                    <div class="dropdown" >
                        <button class="dropbtn"></button>
                        <div class="dropdown-content">
                            <a href="#">Pikachu</a>
                            <a href="#">Squirtle</a>
                            <a href="#">Charmander</a>
                        </div>
                    </div>
                </div> 

                <h3 class="name">Pikachu</h3>
                <div class="img">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png" width="140px" height="140px" >
                </div>
                            
                    
            </div>
                    
        
            <div id="randomPokemon" class="Flex2">
                <div class="randomPokemon">
                    <div >
                        <a href="/user/<%= user._id %>/catch"><button class="randomPokeButton">New Pokemon</button> </a>
                    </div>
                    <div class="Flex3">
                        <h3 class="nameRando"><%= pokemon.name %></h3>
                        <% if (PokemonCaught) { %>
                            <img src="/images/catch-pokeball-green.png" width="50px" height="50px">
                          <% } else { %>
                            <img src="/images/catch-pokeball-red.png" width="50px" height="50px">
                          <% } %> 
                    </div>
                    
                        <div class="img">
                            <img src="<%= pokemon.sprites.front_default %>" width="400px" height="350px" >
                        </div>    
                    
                </div>
                <section class="randomPokeStats">
                    <h3>Base stats</h3>
                    <div id="stats2" >
                        <div class="skill_box">
                            hp:<p class="stat_value"><%= pokemon.hp %></p> 
                        <div class="skill">
                        <div class="skill_level"data-percentage="<%= pokemon.hp %>"></div>
                    </div>
                    <div class="skill_box">
                            attack:<p class="stat_value"><%= pokemon.attack %></p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="<%= pokemon.attack %>">
                        </div>
                    </div> 
                <div class="skill_box">
                    defense:<p class="stat_value"><%= pokemon.defense %></p> 
                    <div class="skill">
                        <div class="skill_level" data-percentage="<%= pokemon.defense %>">
                    </div>        
                </div>             
                <div class="skill_box">
                    special-attack:<p class="stat_value"><%= pokemon.specialAttack %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= pokemon.specialAttack %>">
                    </div>
                </div> 
                <div class="skill_box">
                    special-defense: <p class="stat_value"><%=pokemon.specialDefense %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= pokemon.specialDefense %>">
                    </div>
                </div> 
                <div class="skill_box">
                    speed:<p class="stat_value"><%= pokemon.speed %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= pokemon.speed %>">
                    </div>        
                </div>
            </div>
                
            </div>
            </section>
            </div>
            
        </div>
       
    <%- include ("partials/footer.ejs") %>

