<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/vergelijkenStyle.css">
    <link rel="stylesheet" href="/css/pokebal.css">
    <title>Pokemon</title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/pokeball.png" width="50px" height="50px" alt="pokeball">
            <ul>
                <li><a href="/user/<%= user._id %>">Home</a></li>
                <li><a href="/user/<%= user._id %>/pokemonComparison">Pokemon vergelijken</a></li>
                <li><a href="/user/<%= user._id %>/pokedex">Pokedex</a></li>
                <li><a href="/user/<%= user._id %>/catch">Catch</a></li>
                <li><a href="/user/<%= user._id %>">Battle</a></li>
                <li><a href="/user/<%= user._id %>/whoIsThatPokemon">Who is that pokemon?</a></li>
                <li><a href=""><%= user.firstname %></a></li>
            </ul>
            <a href="/login"><img src="/images/pikachu.png" width="50px" height="50px" alt="pikachu"></a>
        </nav>
    </header>
    <main>
        <div class="flex-container">
            <div id="pokemon-container1" class="pokemon-container">
               <div class="btnContainer">
                <p>kies :</p> 
                <div class="dropdown" >
                    <button class="dropbtn"></button>
                    <div class="dropdown-content">
                    <a href="#">Pikachu</a>
                    <a href="#">Squirtle</a>
                    <a href="#">Charmander</a>
                    </div>
                  </div>
                </div> 
                
                  
                  <h3 class="name">pikachu</h3>
                <div class="img">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png" width="250px" height="250px" >
                </div>
                <section>
                    <h3>Base stats</h3>
                <div id="stats1" >
                    <div class="skill_box">
                         hp:<p class="stat_value">35</p> 
                         <div class="skill">
                            <div class="skill_level"data-percentage="35"></div>
                        </div>
                    <div class="skill_box">
                        attack:<p class="stat_value">55</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="55">
                        </div>
                    </div> 
                    <div class="skill_box">
                        defense:<p class="stat_value">40</p> 
                        <div class="skill">
                            <div class="skill_level" data-percentage="40">
                        </div>        
                    </div>             
                    <div class="skill_box">
                        special-attack:<p class="stat_value">50</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="50">
                        </div>
                    </div> 
                    <div class="skill_box">
                            special-defense:<p class="stat_value">50</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="50">
                        </div>
                    </div> 
                    <div class="skill_box">
                        speed:<p class="stat_value">90</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="90">
                        </div>        
                    </div>
                </div>
                    
                </div>
            </section>
                
            </div>

            <figure class="fig">
                <figcaption>catch</figcaption> 
                <img  id =image class="catchbutton"  src="/images/pokeball2.png" >
                 </img>
            </figure>


            <div id="pokemon-container2" class="pokemon-container">
                <br>
                <h3 class="name">Charmander</h3>
                <div class="img">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png" width="250px" height="250px" >
                </div>
                <section>
                    <h3>Base stats</h3>
                <div id="stats2" >
                    <div class="skill_box">
                         hp:<p class="stat_value">39</p> 
                         <div class="skill">
                            <div class="skill_level"data-percentage="39"></div>
                        </div>
                    <div class="skill_box">
                        attack:<p class="stat_value">52</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="52">
                        </div>
                    </div> 
                    <div class="skill_box">
                        defense:<p class="stat_value">43</p> 
                        <div class="skill">
                            <div class="skill_level" data-percentage="43">
                        </div>        
                    </div>             
                    <div class="skill_box">
                        special-attack:<p class="stat_value">60</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="60">
                        </div>
                    </div> 
                    <div class="skill_box">
                        special-defense: <p class="stat_value">50</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="50">
                        </div>
                    </div> 
                    <div class="skill_box">
                        speed:<p class="stat_value">65</p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="65">
                        </div>        
                    </div>
                </div>
                    
                </div>
            </section>
            </div>
            
        </div>
       
        
    </main>
    <footer>
        <p>&copy; pokemon by Elite 5</p>
    </footer>

</body>
<script src="/js/percentage.js"></script>
<script src="/js/pokeball-animation.js"></script>
</html>

