<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/catch.css">
    <link rel="stylesheet" href="/css/pokebal.css">
    <title>Catch</title>
    

    <%- include ("partials/header.ejs") %>
    
    <main>
        <div class="Flex">
            <div id="myPokemon" class="myPokemon">
                <div class="Flex2">
                    <h3 class="name"><%= currentPokemonName %></h3> 
                    <a href="/user/<%= user._id %>/pokedex"><button class="changeButton">Change</button></a>
                </div>
                <div class="img">
                    <img src="<%= currentPokemonImg %>" width="140px" height="140px" >
                </div>
                <section class="myPokeStats">
                    <div class="skill_box">
                        attack:<p class="stat_value"><%= attack %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= attack %>">
                    </div>
                </div> 
                </section>

                            
                    
            </div>
                    
        
            <div id="randomPokemon" class="Flex2">
                <div class="randomPokemon">
                    <div >
                        <a href="/user/<%= user._id %>/catch"><button class="randomPokeButton">New Pokemon</button></a>
                    </div>
                    <div class="Flex3">
                        <h3 class="nameRando"><%= rpokemon.name %></h3>
                        <% if (PokemonCaught) { %>
                            <button data-modal-target="#modal2" class="picButton"><img src="/images/catch-pokeball-green.png" width="50px" height="50px"></button>
                            
                          <% } else { %>
                            <% if ( 0 >= count) { %>
                                <button data-modal-target="#modal3" class="picButton"><img src="/images/catch-pokeball-red.png" width="50px" height="50px"></button>
                            <% } else { %>
                                <button data-modal-target="#modal1" class="picButton"><img src="/images/catch-pokeball-red.png" width="50px" height="50px"></button>
                                <% } %>
                          <% } %> 
                           
                    </div>
                    <form 
                        action="/user/<%= user._id %>/addPokemon"
                        method="post">

                        <input
                        type="hidden"
                        name="randomPokemon"
                        value="<%= rpokemon.name %>"
                        />
                        <input
                        type="hidden"
                        name="count"
                        value="<%= count %>"
                        />
                        
                        <div class="modal" id="modal1">
                            <div class="modal-header">
                              <div class="title">Catch</div>
                              <button data-close-button class="close-button">&times;</button>
                            </div>
                            <div class="modal-body">
                                Do you want to try catching <%= rpokemon.name %> ?<br>
                                you have <%= count %> tries
                               
                            </div>
                            <div class="modalFlex"> 
                                <input
                            type="submit"
                            value="Catch this pokemon"
                            class="update"
                            href="/user/<%= user._id %>"
                        />
                            </div>
                          </div>
                          <div id="overlay"></div>

                    </form>
                    
                    <form 
                        action="/user/<%= user._id %>/deletePokemon"
                        method="post">
                        <input
                        type="hidden"
                        name="randomPokemon"
                        value="<%= rpokemon.name %>"
                        />
                      <div class="modal" id="modal2">
                        <div class="modal-header">
                          <div class="title">Release</div>
                          <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            Do you want to release <%= rpokemon.name %> ?
                        </div>
                        <div class="modalFlex"> 
                            <input
                            type="submit"
                            value="Free this Pokemon"
                            class="update"
                            href="/user/<%= user._id %>"
                        />
                        </div>
                      </div>
                      <div id="overlay"></div>
                    </form>

                    <div class="modal" id="modal3">
                        <div class="modal-header">
                          <div class="title">failed</div>

                        </div>
                        <div class="modal-body">
                           You are out of tries and didn't catch <%= rpokemon.name %>

                           
                        </div>
                        <div class="modalFlex"> 
                            
                        </div>
                      </div>
                      <div id="overlay"></div>
                    
                        <div class="img">
                            <img src="<%= rpokemon.sprites.front_default %>" width="400px" height="350px" >
                        </div>    
                    
                </div>
                <section class="randomPokeStats">
                    <h3>Base stats</h3>
                    <div id="stats2" >
                        <div class="skill_box">
                            hp:<p class="stat_value"><%= rpokemon.hp %></p> 
                        <div class="skill">
                        <div class="skill_level"data-percentage="<%= rpokemon.hp %>"></div>
                    </div>
                    <div class="skill_box">
                            attack:<p class="stat_value"><%= rpokemon.attack %></p> 
                        <div class="skill">
                            <div class="skill_level"data-percentage="<%= rpokemon.attack %>">
                        </div>
                    </div> 
                <div class="skill_box">
                    defense:<p class="stat_value"><%= rpokemon.defense %></p> 
                    <div class="skill">
                        <div class="skill_level" data-percentage="<%= rpokemon.defense %>">
                    </div>        
                </div>             
                <div class="skill_box">
                    special-attack:<p class="stat_value"><%= rpokemon.specialAttack %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= rpokemon.specialAttack %>">
                    </div>
                </div> 
                <div class="skill_box">
                    special-defense: <p class="stat_value"><%= rpokemon.specialDefense %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= rpokemon.specialDefense %>">
                    </div>
                </div> 
                <div class="skill_box">
                    speed:<p class="stat_value"><%= rpokemon.speed %></p> 
                    <div class="skill">
                        <div class="skill_level"data-percentage="<%= rpokemon.speed %>">
                    </div>        
                </div>
            </div>
                
            </div>
            </section>
            </div>
            
        </div>
       
    <%- include ("partials/footer.ejs") %>