<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/huidigePokemon.css" />
    <title>Pokemon</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img
          src="/images/pokeball.png"
          width="50px"
          height="50px"
          alt="pokeball"
        />
        <ul class="nav-menu">
          <li class="nav-item"><a href="/user/<%= user._id %>">Home</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/pokemonComparison">Pokemon comparison</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/pokedex">Pokedex</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/catch">Catch</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>">Battle</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/whoIsThatPokemon">Who is that pokemon?</a></li>
          <li class="nav-item"><a href=""><%= user.firstname %></a></li>
          <li class="nav-item"><a href="/login"><img
              src="/images/pikachu.png"
              width="30px"
              height="30px"
              alt="pokemon"/></a></li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        
      </nav>
    </header>
    <main>
      <section class="hp_Container">
        <article class="hp_item">
          <h3 class="name">#<%= id %> <%= name %></h3>
          <div class="img">
            <img src="<%= img %>" class="hp_bigImg" />
          </div>
          <form
            action="/user/<%= user._id %>/pokedex/<%= name %>"
            method="post"
          >
            Nickname:
            <input
              type="text"
              name="nickname"
              value="<%= nickName%>"
              id=""
            /><br />
            Wins: <%= wins %><br />
            Loss: <%= loss %><br />
            Caught: <%= caught.toLocaleDateString() %><br />
            <input type="submit" value="Update" class="update" />
          </form>
        </article>
        <article class="hp_item infoPokemon">
          <h3>Base stats</h3>
          <table>
            <tr>
              <th>Stat</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>HP</td>
              <td><%= hp %></td>
            </tr>
            <tr>
              <td>Attack</td>
              <td><%= attack %></td>
            </tr>
            <tr>
              <td>Defense</td>
              <td><%= defense %></td>
            </tr>
            <tr>
              <td>Special Attack</td>
              <td><%= specialAttack %></td>
            </tr>
            <tr>
              <td>Special Defense</td>
              <td><%= specialDefense %></td>
            </tr>
            <tr>
              <td>Speed</td>
              <td><%= speed %></td>
            </tr>
          </table>
        </article>
      </section>
      <section class="hp_Container">
        <% for(let pokemonInfo of pokemonInfos){%>
        <article class="hp_item">
          <h4><%= pokemonInfo.name %></h4>
          <img src="<%= pokemonInfo.img %>" class="hp_smallImg" />
        </article>
        <%}%>
      </section>
    </main>
    <footer>
      <p>&copy; pokemon by Elite 5</p>
    </footer>
    <script src="/js/percentage.js"></script>
    <script src="/js/pokeApi.js"></script>
  </body>
</html>
