<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/huidigePokemon.css" />
    <title>Current Pokemon</title>

    <%- include ("partials/header.ejs") %>

    <main>
      <div class="container">
        <article class="card">
          <div class="img">
            <img src="<%= img %>" class="hp_bigImg" />
          </div>
          <h1 class="name">#<%= id %> <%= name %></h1>
          <form
            action="/user/<%= user._id %>/pokedex/<%= name %>"
            method="post"
          >
            Nickname:
            <input
              type="text"
              name="nickname"
              value="<%= nickName%>"
              id=""
            /><br />
            Wins:
            <input
              type="number"
              name="wins"
              value="<%= wins %>"
              min="0"
              id="number-input"
            />
            <br />
            Loss:
            <input
              type="number"
              name="loss"
              value="<%= loss %>"
              min="0"
              id="number-input"
            /><br />
            Caught: <%= caught.toLocaleDateString() %><br />
            <input type="submit" value="Update" class="update" />
          </form>
        </article>
        <section class="pokemon-container">
          <h4 >Base stats</h4>
          <div id="stats1">
            <div class="skill_box">
              hp:
              <p class="stat_value"><%= hp %></p>
              <div class="skill">
                <div class="skill_level" data-percentage="<%= hp %>"></div>
              </div>
              <div class="skill_box">
                attack:
                <p class="stat_value"><%= attack %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= attack %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                defense:
                <p class="stat_value"><%= defense %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= defense %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                special-attack:
                <p class="stat_value"><%= specialAttack %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= specialAttack %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                special-defense:
                <p class="stat_value"><%= specialDefense %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= specialDefense %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                speed:
                <p class="stat_value"><%= speed %></p>
                <div class="skill">
                  <div class="skill_level" data-percentage="<%= speed %>"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="grid">
        <% for(let pokemonInfo of pokemonInfos){%>
        <article class="card evoImg">
          <img src="<%= pokemonInfo.img %>" class="hp_smallImg" />
          <h3><%= pokemonInfo.name %></h3>
        </article>
        <%}%>
      </section>
      <%- include ("partials/footer.ejs") %>
    </main>
  </head>
</html>
