<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/huidigePokemon.css" />
    <title>Pokemon</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/user/<%= user._id %>">
          <img
            src="/images/pokeball.png"
            width="50px"
            height="50px"
            alt="pokeball"
          />
        </a>
        <ul class="nav-menu">
          <li class="nav-item"><a class="nav-link" href="/user/<%= user._id %>">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%= user._id %>/pokemonComparison"
              >Pokemon comparison</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%= user._id %>/pokedex">Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%= user._id %>/catch">Catch</a>
          </li>
          <!-- <li class="nav-item"><a href=""><%= user.firstname %></a></li> -->
          <!-- <li class="nav-item">
            
          </li> -->
        </ul>
        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <!-- <a href="/user/<%= user._id %>"
              ></a>--><img 
                src="<%= currentPokemonImg %>"
                width="80px"
                height="80px"
                alt="pokemon"
            />
          </div>
          <div class="sub-menu">
            <h3><%= user.firstname %></h3>
            <ul>
              <li><img src="/images/log-out.png" alt="exit"><a href="#">Logout</a></li>
            </ul>
            </div>
        </div>
        
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <main>
      <section class="hp_Container">
        <article class="card">
          <div class="img">
            <img src="<%= img %>" class="hp_bigImg" />
          </div>
          <h1 class="name">#<%= id %> <%= name %></h1>
          <form
            action="/user/<%= user._id %>/pokedex/<%= name %>"
            method="post"
          >
            Nickname:
            <input
              type="text"
              name="nickname"
              value="<%= nickName%>"
              id=""
            /><br />
            Wins: <%= wins %><br />
            Loss: <%= loss %><br />
            Caught: <%= caught.toLocaleDateString() %><br />
            <input type="submit" value="Update" class="update" />
          </form>
        </article>
        <article class="hp_item infoPokemon">
          <h1 class="h1Stats">Base stats</h1>
          <table>
            <tr>
              <th class="statTable">Stat</th>
              <th class="valueTable">Value</th>
            </tr>
            <tr>
              <td>HP</td>
              <td><%= hp %></td>
            </tr>
            <tr>
              <td>Attack</td>
              <td><%= attack %></td>
            </tr>
            <tr>
              <td>Defense</td>
              <td><%= defense %></td>
            </tr>
            <tr>
              <td>Special Attack</td>
              <td><%= specialAttack %></td>
            </tr>
            <tr>
              <td>Special Defense</td>
              <td><%= specialDefense %></td>
            </tr>
            <tr>
              <td class="bottomLeftTable">Speed</td>
              <td class="bottomRightTable"><%= speed %></td>
            </tr>
          </table>
        </article>
      </section>
      <section class="grid">
        <% for(let pokemonInfo of pokemonInfos){%>
        <article class="card evoImg">
          <img src="<%= pokemonInfo.img %>" class="hp_smallImg" />
          <h3><%= pokemonInfo.name %></h3>
        </article>
        <%}%>
      </section>
    </main>
    <footer>
      <p>&copy; pokemon by Elite 5</p>
    </footer>
    <script src="/js/hamburger.js"></script>
    <script src="/js/percentage.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/pokeApi.js"></script>
  </body>
</html>
