<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/vergelijkenStyle.css" />
    <title>Pokemon</title>

    <%- include ("partials/header.ejs") %>

    <main>
      <div class="sectionAsh">
        <div class="ash">
          <article class="ashTextBox">
            <h1 class="ashTitle">Welcome to the world of pokémon</h1>
            <p class="ashDescription">
              So, are you ready to dive into a world where dreams become
              reality? Grab your Poké Balls, strap on your backpack, and prepare
              for an extraordinary adventure that will leave an indelible mark
              on your life. Welcome to the captivating world of Pokémon!
            </p>
          </article>
          <article class="hobbyImgBox">
            <img
              src="/images/ash.png"
              class="ashImg"
              alt="jongens die basketbal spelen in het park"
            />
          </article>
        </div>
      </div>
      <h2 style="text-align: center" class="titleCurr">Your current pokemon</h2>

      <div class="container">
        <article class="card currCard">
          <a href="/user/<%= user._id %>/pokedex/<%= user.currentPokemon %>">
            <img
              src="<%= currentPokemonImg %>"
              alt="<%= user.currentPokemon %> image"
            />
            <p><%= user.currentPokemon %></p>
          </a>
        </article>
        <section class="pokemon-container">
          <h3>Base stats</h3>
          <div id="stats1">
            <div class="skill_box">
              hp:
              <p class="stat_value"><%= hp %></p>
              <div class="skill">
                <div class="skill_level" data-percentage="<%= hp %>"></div>
              </div>
              <div class="skill_box">
                attack:
                <p class="stat_value"><%= attack %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= attack %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                defense:
                <p class="stat_value"><%= defense %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= defense %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                special-attack:
                <p class="stat_value"><%= specialAttack %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= specialAttack %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                special-defense:
                <p class="stat_value"><%= specialDefense %></p>
                <div class="skill">
                  <div
                    class="skill_level"
                    data-percentage="<%= specialDefense %>"
                  ></div>
                </div>
              </div>
              <div class="skill_box">
                speed:
                <p class="stat_value"><%= speed %></p>
                <div class="skill">
                  <div class="skill_level" data-percentage="<%= speed %>"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <br />

<%- include ("partials/footer.ejs") %>
