<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/pokedex.css" />
      <title>Pokemon</title>
    </head>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <img
          src="/images/pokeball.png"
          width="50px"
          height="50px"
          alt="pokeball"
        />
        <ul class="nav-menu">
          <li class="nav-item"><a href="/user/<%= user._id %>">Home</a></li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>/pokemonComparison"
              >Pokemon comparison</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>/pokedex">Pokedex</a>
          </li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>/catch">Catch</a>
          </li>
          <li class="nav-item"><a href=""><%= user.firstname %></a></li>

          <li class="nav-item">
            <a href="/login"
              ><img
                src="<%= currentPokemonImg %>"
                width="80px"
                height="80px"
                alt="pokemon"
            /></a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <main>
      <section class="grid">
        <% pokemonsData.sort((a,b) => a.id - b.id); for(let pokemon of
        pokemonsData){%>
        <article class="card">
          <a href="/user/<%= user._id %>/pokedex/<%= pokemon.name%>">
            <img src="<%= pokemon.img %>" alt="Pokemon 1" />
            <h3>#<%= pokemon.id %></h3>
            <p><%= pokemon.name %></p>
          </a>
          <form action="/user/<%= user._id %>/pokedex/" method="post">
            <input
              type="hidden"
              name="currentPokemonName"
              value="<%= pokemon.name %>"
            />
            <input
              type="submit"
              value="Choose this pokemon"
              class="update"
              href="/user/<%= user._id %>"
            />
          </form>
        </article>
        <%}%>
      </section>
    </main>
    <footer>
      <p>&copy; pokemon by Elite 5</p>
    </footer>
  </body>
  <script src="/js/fromPokedex.js"></script>
</html>
