<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/vergelijkenStyle.css">
    <title>Pokemon</title>
</head>
<body>
    <header>
      <nav class="navbar">
        <a href="/user/<%= user._id %>">
          <img
            src="/images/pokeball.png"
            width="50px"
            height="50px"
            alt="pokeball"
          />
        </a>
        <ul class="nav-menu">
          <li class="nav-item"><a href="/user/<%= user._id %>">Home</a></li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>/pokemonComparison"
              >Pokemon comparison</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>/pokedex">Pokedex</a>
          </li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>/catch">Catch</a>
          </li>
          <li class="nav-item"><a href=""><%= user.firstname %></a></li>
          <li class="nav-item">
            <a href="/user/<%= user._id %>"
              ><img
                src="<%= currentPokemonImg %>"
                width="80px"
                height="80px"
                alt="pokemon"
            /></a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <main>
        <div class="flex-container">
            <div id="pokemon-container1"  class="pokemon-container">
                <div class="searchbox">
                    <input id="pokemonName1" type="text" placeholder="Pokemon name">
                    <button id="search1">🔍</button>
                </div>
                
                <div>
                    <h3 class="name"></h3>
                </div>
                <div class="img">
                    <img  width="250px" height="250px" >
                </div>
                <section><div id="stats1" class="skill_box"></div></section>
            
            </div>
            
            <figure class="fig">
                <img id="compare" class="comparebutton" src="/images/pokeball2.png" alt="Compare"> </img>
            </figure> 


            <div id="pokemon-container2" class="pokemon-container" >
                <div class="searchbox">
                    <input id="pokemonName2" type="text" placeholder="Pokemon name">
                    <button id="search2">🔍</button>
                </div>
                
                <div>
                    <h3 class="name"></h3>
                </div>
                <div class="img">
                    <img  width="250px" height="250px" >
                </div>
                <section><div id="stats2" class="skill_box"></div></section>

                
            </div>
            
        </div>
        
        
    </main>
    <footer>
        <p>&copy; pokemon by Elite 5</p>
    </footer>
    <script src="/js/hamburger.js"></script>
    <script src="/js/percentage.js"></script>
    <script src="/js/pokeApi.js"></script>
    
</body>
</html>