<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/whoIsThatPokemon.css" />
    <title>Pokemon</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img
          src="/images/pokeball.png"
          width="50px"
          height="50px"
          alt="pokeball"
        />
        <ul class="nav-menu">
          <li class="nav-item"><a href="/user/<%= user._id %>">Home</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/pokemonComparison">Pokemon comparison</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/pokedex">Pokedex</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/catch">Catch</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>">Battle</a></li>
          <li class="nav-item"><a href="/user/<%= user._id %>/whoIsThatPokemon">Who is that pokemon?</a></li>
          <li class="nav-item"><a href=""><%= user.firstname %></a></li>
          <li class="nav-item"><a href="/login"><img
              src="/images/pikachu.png"
              width="30px"
              height="30px"
              alt="pokemon"/></a></li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        
      </nav>
    </header>
    <main>
      <h1>Who is that Pokemon?</h1>
      <div class="whoInput">
        <input type="text" placeholder="Pokemon name" />
        <button class="checkButton">check</button>
      </div>
      <div class="whoIsThatPokemon">
        <img src="/images/who_pokemon.jpg" alt="" />
      </div>
    </main>
    <footer>
      <p>&copy; pokemon by Elite 5</p>
    </footer>
  </body>
</html>
